/* color scheme used in application */
:root {
  font-family: "Avenir Next", sans-serif;
  --medium: #6b8b7f; /* secondary text color */
  --hover-color: #c98b70;
  --light: #fdfefe; /* background color */
  --light-5:  #d4e2dc;
  --light-10: #c9d6d0;
  --light-15: #becac4;
  --mint: #3ebcb3; /* header color */
  --dark-green: #1a4d4d; /* primary text color */
  --grey: #dbdbdb;
  --dark-grey: #333333;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--light);
}

/* heading styles, mobile first */
h1 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--dark-green);
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--dark-green);
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--dark-green);
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.25rem;
  color: var(--dark-green);
  padding: 0;
  margin: 0;
}

header {
  background-color: var(--mint);
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}

input[type="text"] {
  padding: 0.5rem;
  border: 1px solid var(--grey);
  border-radius: 0.25rem;
  font-size: 1.25rem;
  width: 100%;
}

/* button styles */
button {
  background-color: var(--mint);
  color: var(--light);
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  font-size: 1.25rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--hover-color);
}

.buttons-group {
  display: flex;
  justify-content: left;
  gap: 0.5rem;
  margin: 1rem 0;
}

#status {
  font-size: 1rem;
  font-weight: 500;
  color: var(--medium);
}

#detail-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin: 1rem;
}

#back-button {
  margin: 1rem 2rem;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.title {
  display: grid;
}

.results-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2rem;
}

.search-panel {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.search-panel label {
  white-space: nowrap;
  font-size: 1.25rem;
}

.buttons-group {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.buttons-group button {
  width: 100%;
}

/* artwork view */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  gap: 1.5rem;
  margin: 1rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--light);
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;

  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.artwork-card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--dark-green);
}

.artwork-card-description {
  font-size: 1.25rem;
  color: var(--dark-green);
}

.art-image-card {
  padding: 1rem;
  border: 1px solid var(--grey);
  background-color: var(--dark-grey);
  margin-top: 1rem;
}

.artist-link
{
  color: var(--dark-green);
  font-weight: 500;
  cursor: pointer !important;
  text-decoration: underline;
  text-decoration-color: var(--dark-green);
  margin-left: 1rem;
}

.artwork-for-artist-link 
{
  color: var(--dark-green);
  font-weight: 500;
  cursor: pointer !important;
  text-decoration: underline;
  text-decoration-color: var(--dark-green);
  border: 1px solid var(--dark-green);
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-top: 1rem;
  background-color: var(--light-5);
}

/* artist items */
.artist-item {
  cursor: pointer;
  color: var(--dark-green);
  font-size: 1.25rem;
}

.artist-item:hover {
  color: var(--hover-color);
}

.artist-online-details{
  background-color: var(--light);
  border: 1px solid var(--medium);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0;
}

.hidden {
  display: none;
}

/* Medium and large devices */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
    font-weight: 500;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 400;
  }

  header div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
  }

  .search-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .buttons-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5rem;
    margin: 0;
  }

  .buttons-group button {
    width: min (200px, 100%);
    white-space: nowrap;
  }
}
